.button-style {
    background-color: #0A3A67;
    color: var(--Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
    width: 202px;
    height: 40px;
}