.aboutcontainer {
    border: 1px solid black;
    min-height: 500px;
}

.aboutprofile {
    margin: auto;
}

.profileName {
    margin: auto;
    margin-top: -5px;
    color: #0A3A67;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

.aboutheading {
    color: #0A3A67;
    font-size: 25px;
    font-weight: 400;
    word-wrap: break-word;
}

.about {
    color: #0A3A67;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 20px;
}

/* style for grids */
.divcontainer {
    margin-top: 20px;
    border: 2px solid #bdd9f3;
    border-radius: 5px;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-left: 2px;
    margin-right: 2px;
}

.grids {
    justify-content: center;
    text-align: center;
    color: rgba(10, 58, 103, 0.60);
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}

.gridsline2style {
    color: #0A3A67;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
}

.gridsline3 {
    justify-content: center;
    text-align: center;
    color: rgba(10, 58, 103, 0.60);
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 15px;
}